.full-width-input {
  width: 100%;
}
.acciones_recordar{
    display: flex;
    justify-content: center;
    gap: 2rem;

}
.title_modals_recordar{
    color: #1458d9;
    text-align: center;
    padding: 15px;
    width: auto;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    background-color: #C3E3FF;
    margin: 1rem;
    border-radius: 20px;
    font-size: 20px;
}
.info-text{
    text-align: center;
    font-size: 16px;
    margin-bottom: 1.5rem;
    color: #3f3f3f;
    
}