
<div mat-dialog-content class="modal-container">
  <div class="cards-container">
    <!-- Card 1: Nuevo Paciente -->
    <mat-card class="patient-card" (click)="onNewPatient()">
      <mat-card-content class="card-content">
        <div class="card-icon new-patient">
          <mat-icon>person_add</mat-icon>
        </div>
        <h3 class="card-title">Nuevo paciente</h3>
      </mat-card-content>
    </mat-card>

    <!-- Card 2: Buscar Paciente -->
    <mat-card class="patient-card" (click)="onSearchPatient()">
      <mat-card-content class="card-content">
        <div class="card-icon search-patient">
          <mat-icon>search</mat-icon>
        </div>
        <h3 class="card-title">Buscar paciente existente</h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>